<div class="d-flex flex-column min-vh-100">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="#">To-Do-List</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <div
    class="flex-grow-1 d-flex justify-content-center align-items-center pt-5 mt-5"
  >
    <div class="container text-center">
      <!-- <h1 class="pt-3">To-do-List </h1> -->
      <h1 class="pt-3 mb-3">To-do-List With SujitPatel</h1>
      <app-new-todo></app-new-todo>
      <app-todos></app-todos>
    </div>
  </div>

  <!-- Footer -->
  <footer class="text-center py-3">
    <app-footer></app-footer>
  </footer>
</div>
